<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
      <head>
        <title>Quiz App</title>
        <link rel="stylesheet" href="assets/style.css">
      </head>
      <body class="signUp_body">
        <header>
            <nav class="signUp_nav">
              <a href="/proxy/8093/quiz_home">Login In</a>
              <a href="/proxy/8093/welcome_page">Welcome Page</a>
              <a href="#">Scores</a>
            </nav>
          </header>
        <main class="signUp_page">
            <section>
                <div class="info">
                    <h2>New Member</h2>
                    <form action="register">
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname" th:field="*{fName}" placeholder= "Enter First Name"><br>
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname" th:field="*{lName}" placeholder= "Enter Last Name"><br>
                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" th:field="*{email}" placeholder= "Enter Email"><br>
                        <label for="Phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone" th:field="*{phone}" placeholder= "Enter Phone Number"><br>
                        <label for="streetAdress">Street Address:</label>
                        <input type="text" id="street" name="street" th:field="*{streetAddress}" placeholder="Enter Street"><br>
                        <label for="cityAddress">City</label>
                        <input type="text" id="city" name="city" th:field = "*{city}" placeholder="Enter City"><br>
                        <label for="zip-code">Zip Code</label>
                        <input type="text" id="zip" name="zip" th:field="*{zipCode}" placeholder="Enter Zip Code"><br>
                        <label for="level_of_completion">Level of Completion</label>
                        <input type="text" id="education" name="education" th:field="*{education}" placeholder="Education"><br>
                        <label for="id">ID</label>
                        <input type="text" id="id" name="id" th:field ="*{id}"><br>
                        <input class="submit" type="submit" value="Submit">
                    </form>
                </div>
            </section>
        </main>
      </body>